/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs/*
/resources/views_backup
/resources/live_views.tgz
/public/css_backup
/public/js_backup
/public/index_bc.php
